@{
    var oUser = (EduAx.Models.PERSON)HttpContext.Current.Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @* -->IMPORT UNICONS FROM ICONSCOUT *@
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    @* <-- *@
    @Styles.Render("~/styles/layout")
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="~/Img/icons8-first-aid-kit-64.png" alt="eduAx logo" />
            </div>
            <span class="logo_name">eduAx</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="/Home/Index">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/Courses/Index">
                        <i class="uil uil-layers"></i>
                        <span class="link-name">Courses</span>
                    </a>
                </li>
                <li>
                    @{
                        if (Session["user"] != null)
                        {
                            switch (oUser.ROLE_PERSON.ToLower())
                            {
                                case "student":
                                    <a href="#">
                                        <i class="uil uil-signal-alt-3"></i>
                                        <span class="link-name progress">Trayectory</span>
                                    </a>
                                    break;
                            }
                        }
                    }
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-comment-question"></i>
                        <span class="link-name">Support</span>
                    </a>
                </li>
            </ul>
            <ul class="bottom-nav-links">
                <li>
                    <a href="#">
                        <i class="uil uil-language"></i>
                        <span class="link-name">Spanish</span>
                    </a>
                </li>
                <li>
                    @{ if (Session["user"] != null)
                        {
                            <a href="/Home/Logout">
                                <i class="uil uil-signout"></i>
                                <span class="link-name">Logout</span>
                            </a>
                        }
                        else
                        {
                            <a href="/Home/Login">
                                <i class="uil uil-signin"></i>
                                <span class="link-name">Login</span>
                            </a>
                        }
                    }
                </li>
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark mode</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <section class="main-content">
        <div class="top-nav">
            <div class="left">
                <i class="uil uil-bars sidebar-toggle"></i>
                <h2>You are on > @Html.ActionLink("Home", "Index", "Home")</h2>
            </div>
            <div class="right">
                @{
                    if (Session["user"] == null)
                    {
                        <span class="login-spn">You are currently a guest(@Html.ActionLink("Access", "Login", "Home"))</span> 
                    }
                    else
                    {
                        <span class="login-spn">@oUser.NAME_PERSON</span> 
                        <img src="~/Img/@oUser.AVATAR_PERSON" alt="User avatar" /> 
                    }
                }
            </div>
        </div>
        <div class="body-content">
            @RenderBody()
        </div>
    </section>
    @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    *@
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
