@model IEnumerable<EduAx.Models.ViewModel.course_student>

@{
    ViewBag.Title = "Dash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Dash_Courses.css" rel="stylesheet" />
<div class="dash-top">
    <img src="~/Img/faid4.png" /> @* IMAGE_COURSE ATRIBUTO BASE DE DATOS [COURSE]*@
    <div class="main-title">
        <div class="icon">
            <i class="@Html.DisplayFor(Model => Model.ElementAt(0).icon_course)"></i>
        </div>
        <h2 class="text">@Html.DisplayFor(Model => Model.ElementAt(0).name_course)</h2>
    </div>
    <div class="desc">
        <p>
            @Html.DisplayFor(Model => Model.ElementAt(0).info_course)
        </p>
    </div>
    <div class="content">
        <div class="box-content">
            <div class="icon">
                <i class="uil uil-user-check"></i>
            </div>
            <div class="box-info">
                <h3>Places</h3>
                <h2>30</h2>
            </div>
        </div>
        <div class="box-content">
            <div class="icon">
                <i class="uil uil-users-alt"></i>
            </div>
            <div class="box-info">
                <h3>Groups</h3>
                <h2>5</h2>
            </div>
        </div>
    </div>
    <a href="/"><span>Enroll</span></a>

</div>
<div class="dash-body">

    <div class="grades">

    </div>
    <div class="final-grade">

    </div>
</div>
<script>
    const guide = document.querySelector(".main-content .top-nav .left h2");
    guide.innerHTML = 'You are on > @Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Courses", "Index", "Courses") > @Html.ActionLink(Model.ElementAt(0).name_course , "Dash", "Courses", new { id_course = Model.ElementAt(0).id_course}, null)';
</script>
