@using EduAx.Models.ViewModel
@model IEnumerable<EduAx.Models.ViewModel.Global>

@{
    ViewBag.Title = "Dash";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var oUser = (EduAx.Models.PERSON)HttpContext.Current.Session["user"];
}

<link href="~/Content/Dash_Courses.css" rel="stylesheet" />
<div class="dash-top">
    <img class="img-course" src="~/Img/@Html.DisplayFor(Model => Model.ElementAt(0).image_course)" /> @* IMAGE_COURSE ATRIBUTO BASE DE DATOS [COURSE]*@
    <div class="main-title">
        <div class="icon">
            <i class="@Html.DisplayFor(Model => Model.ElementAt(0).icon_course)"></i>
        </div>
        <h2 class="text">@Html.DisplayFor(Model => Model.ElementAt(0).name_course)</h2>
    </div>
    @if (oUser != null)
    {
        <h3 class="course-status">Current status: <span>@Html.DisplayFor(Model => Model.ElementAt(0).state_student)</span></h3>
        <h3 class="group-status">My group: <span>@Html.DisplayFor(Model => Model.ElementAt(0).id_group)</span></h3>
        <h3 class="course-attempts">Attempts remaining: <span>@(2 - (int)(Model.ElementAt(0).course_count))</span></h3>
    }
    <div class="desc">
        <p>
            @Html.DisplayFor(Model => Model.ElementAt(0).info_course)
        </p>
    </div>
    <div class="content">
        <div class="box-content">
            <div class="icon">
                <i class="uil uil-user-check"></i>
            </div>
            <div class="box-info">
                <h3>Places</h3>
                <h2>@Html.DisplayFor(Model => Model.ElementAt(0).places_groupcourse)</h2>
            </div>
        </div>
        <div class="box-content">
            <div class="icon">
                <i class="uil uil-users-alt"></i>
            </div>
            <div class="box-info">
                <h3>Groups</h3>
                <h2>@Html.DisplayFor(Model => Model.ElementAt(0).groups_count)</h2>
            </div>
        </div>
    </div>
    <a href="/"><span>Enroll</span></a>
</div>
@if (Model.ElementAt(0).state_student.ToLower().Equals("done")) {
    <div class="box">
        <h2>My grades</h2>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="dash-body">
        <h2 class="final-grade">Final grade: <span>@((float)((Model.ElementAt(0).stgrade + Model.ElementAt(0).ndgrade + Model.ElementAt(0).rdgrade + Model.ElementAt(0).thgrade) / 4))</span></h2>
        <hr />
        <div class="grade1">@Html.DisplayFor(Model => Model.ElementAt(0).stgrade)</div>
        <div class="grade2">@Html.DisplayFor(Model => Model.ElementAt(0).ndgrade)</div>
        <div class="grade3">@Html.DisplayFor(Model => Model.ElementAt(0).rdgrade)</div>
        <div class="grade4">@Html.DisplayFor(Model => Model.ElementAt(0).thgrade)</div>    
    </div>
}
<script>
  const status = document.querySelector(".course-status span");
  const button = document.querySelector(".dash-top a span");
  const guide = document.querySelector(".main-content .top-nav .left h2");
  guide.innerHTML = 'You are on > @Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Courses", "Index", "Courses") > @Html.ActionLink(Model.ElementAt(0).name_course , "Dash", "Courses", new { id_course = Model.ElementAt(0).id_course}, null)';
</script>

@* CHANGE BUTTON PROPERTIES REGARDING ROLE AND STUDENT IN COURSE STATUS *@
@if (oUser != null)
{
    if (oUser.ROLE_PERSON.ToLower().Equals("student"))
    {
        if (Model.ElementAt(0).course_count == 2 || Model.ElementAt(0).state_student.ToLower().Equals("done"))
        {
            <style>
                .group-status{
                    display: flex;
                }
            </style>
            <script>
                document.querySelector(".dash-top a").remove();
            </script>
        }
        switch (Model.ElementAt(0).state_student.ToLower())
        {
            case "to do":
                <style>
                    .course-status span {
                        background: var(--text-color);
                    }
                </style>
                break;
            case "doing":
                <style>
                    .dash-top a::before {
                        background: #fc6a6a;
                    }

                    .course-status span {
                        background: var(--secondary-color);
                    }
                </style>
                <script>
                    button.innerHTML = "Cancel";
                </script>
                break;
            case "cancelled":
                <style>
                    .course-status span {
                        background: #fc6a6a;
                    }
                </style>
                break;
            case "flunked":
                <style>
                    .course-status span {
                        background-color: red;
                    }
                </style>
                break;
            default:
                <style>
                    .course-status span {
                        background: var(--primary-color);
                    }
                </style>
                <script>
                    document.querySelector(".course-attempts").remove();
                </script>
                break;
        }
    }
}
else
{
    <style>
        .dash-top a::before {
            background: var(--primary-color);
        }
    </style>
    <script>
        button.innerHTML = "Enroll";
    </script>
}

<!-- Link scrl reveal js-->
<script src="~/Scripts/scrollreveal.js"></script>

<!-- Script scrl animation-->
<script>
    ScrollReveal({
        reset: false,
        distance: '60px',
        duration: 1500,
        delay: 600
    });

    ScrollReveal().reveal('.main-title', { delay: 400, origin: 'right' });
    ScrollReveal().reveal('.img-course', { delay: 600, origin: 'top' });
    ScrollReveal().reveal('.course-status', { delay: 500, origin: 'bottom' });
    ScrollReveal().reveal('.group-status', { delay: 600, origin: 'bottom' });
    ScrollReveal().reveal('.course-attempts', { delay: 700, origin: 'bottom' });
    ScrollReveal().reveal('.desc', { delay: 800, origin: 'bottom' });
    ScrollReveal().reveal('.content', { delay: 900, origin: 'bottom' });
    ScrollReveal().reveal('.dash-top a', { delay: 1000, origin: 'bottom' });
    ScrollReveal().reveal('.box', { delay: 1600, origin: 'bottom' });
    ScrollReveal().reveal('.final-grade', { delay: 500, origin: 'right' });
    ScrollReveal().reveal('hr', { delay: 1200, origin: 'right' });
    ScrollReveal().reveal('.grade1', { delay: 500, origin: 'bottom' });
    ScrollReveal().reveal('.grade2', { delay: 600, origin: 'bottom' });
    ScrollReveal().reveal('.grade3', { delay: 700, origin: 'bottom' });
    ScrollReveal().reveal('.grade4', { delay: 800, origin: 'bottom' });    

</script>


