@model IEnumerable<EduAx.Models.COURSE>

@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Courses.css" rel="stylesheet" />
@{
    for (int i = 0; i < Model.Count(); i++)
    {
        int inx = 1;
        <div class="container">
            <div class="main-title">@Html.DisplayFor(Model => Model.ElementAt(i).TYPE_COURSE)<i class="@Html.DisplayFor(Model => Model.ElementAt(i).ICON_COURSE)"></i></div>
            @while (Model.ElementAt(i).TYPE_COURSE == Model.ElementAt(i + 1).TYPE_COURSE)
            {
                <div class="box">
                    <div class="icon">
                        @inx
                    </div>
                    <div class="content">
                        <h3>@Html.DisplayFor(Model => Model.ElementAt(i).NAME_COURSE)</h3>                  
                        @Html.ActionLink("Read More", "Dash", "Courses", new {id_course = Model.ElementAt(i).ID_COURSE}, null)
                    </div>
                </div>
                i++;
                inx++;
                if (i + 1 >= Model.Count())
                {
                    <div class="box">
                        <div class="icon">
                            @inx
                        </div>
                        <div class="content">
                            <h3>@Html.DisplayFor(Model => Model.ElementAt(i).NAME_COURSE)</h3>                      
                            @Html.ActionLink("Read More", "Dash", "Courses", new { id_course = Model.ElementAt(i).ID_COURSE }, null)
                        </div>
                    </div>
                    break;
                }
            }
            @if (i + 1 < Model.Count())
            {
                <div class="box">
                    <div class="icon">
                        @inx
                    </div>
                    <div class="content">
                        <h3>@Html.DisplayFor(Model => Model.ElementAt(i).NAME_COURSE)</h3>                     
                        @Html.ActionLink("Read More", "Dash", "Courses", new { id_course = Model.ElementAt(i).ID_COURSE }, null)
                    </div>
                </div>                
            }
        </div>
    }
}

<!-- Link scrl reveal js-->
<script src="~/Scripts/scrollreveal.js"></script>

<!-- Script scrl animation-->
<script>
    ScrollReveal({
        //reset: true,
        distance: '60px',
        duration: 1500,
        delay: 600
    });
    ScrollReveal().reveal('.container', { delay: 400, origin: 'bottom' });

    const guide = document.querySelector(".main-content .top-nav .left h2");
    guide.innerHTML = 'You are on > @Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Courses", "Index", "Courses")';
</script>


