@using EduAx.Models.ViewModel
@model List<EduAx.Models.ViewModel.Global>

@{
    ViewBag.Title = "Teacher dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Teacher.css" rel="stylesheet" />

<div class="teacher-dash">
    <div class="dash-header">
        <div class="main-title">
            <div class="icon">
                <i class="uil uil-tachometer-fast-alt"></i>
            </div>
            <h2 class="text">Teacher Dashboard</h2>
        </div>
        <img src="~/Img/teacher_dash.png" />
        <h1>Welcome back! @Html.DisplayFor(Model => Model.ElementAt(Model.Count() - 1).name_person)</h1>
        <div class="teacher-stats">
            <div class="content-box">
                <i class="uil uil-users-alt"></i>
                <h2>Groups assigned</h2>
                <h3>@Html.DisplayFor(Model => Model.ElementAt(Model.Count() - 1).groups_count)</h3>
            </div>
            <div class="content-box">
                <i class="uil uil-layers"></i>
                <h2>Courses assigned</h2>
                <h3>@Html.DisplayFor(Model => Model.ElementAt(Model.Count() - 1).courses_count)</h3>
            </div>
            <div class="content-box">
                <i class="uil uil-graduation-cap"></i>
                <h2>Students assigned</h2>
                <h3>@Html.DisplayFor(Model => Model.ElementAt(Model.Count() - 1).students_count)</h3>
            </div>
        </div>
    </div>
    <hr />
    <div class="dash-content">
        @for (int i = 0; i < Model.Count() - 1; i++)
        {
            <a href="/Teacher/Dash?id_group=@Model.ElementAt(i).id_group">
                <p>
                    Group @Html.DisplayFor(Model => Model.ElementAt(i).id_group)
                    <i class="uil uil-info-circle"></i>
                </p>
            </a>
        }
    </div>
</div>

<!-- Link scrl reveal js-->
<script src="~/Scripts/scrollreveal.js"></script>

<script>
    /*Script scrl animation*/
        ScrollReveal({
            //reset: true,
            distance: '60px',
            duration: 1500,
            delay: 600
        });
    ScrollReveal().reveal('.main-title', { delay: 400, origin: 'bottom' });
    ScrollReveal().reveal('.dash-header h1', { delay: 500, origin: 'bottom' });
    ScrollReveal().reveal('.teacher-stats', { delay: 600, origin: 'bottom' });
    ScrollReveal().reveal('hr', { delay: 700, origin: 'bottom' });
    ScrollReveal().reveal('.dash-content', { delay: 1000, origin: 'bottom' });
    ScrollReveal().reveal('.dash-header img', { delay: 1000, origin: 'right' });

    const guide = document.querySelector(".main-content .top-nav .left h2");
    guide.innerHTML = 'You are on > @Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Dashboard", "Index", "Teacher")';
</script>

