@using EduAx.Models.ViewModel
@model List<EduAx.Models.ViewModel.Global>

@{
    ViewBag.Title = "Teacher dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Teacher.css" rel="stylesheet" />

<div class="teacher-dash">
    <div class="main-title">
        <div class="icon">
            <i class="uil uil-tachometer-fast-alt"></i>
        </div>
        <h2 class="text">Teacher Dashboard</h2>
    </div>
    <img src="~/Img/teacher_dash.png" />
    <h1>Welcome back! @Html.DisplayFor(Model => Model.ElementAt(Model.Count() - 1).name_person)</h1>
    <div class="teacher-stats">
        <div class="content-box">
            <i class="uil uil-users-alt"></i>
            <h2>Groups assigned</h2>
            <h3>@Html.DisplayFor(Model => Model.ElementAt(Model.Count() - 1).groups_count)</h3>
        </div>
        <div class="content-box">
            <i class="uil uil-layers"></i>
            <h2>Courses assigned</h2>
            <h3>@Html.DisplayFor(Model => Model.ElementAt(Model.Count() - 1).courses_count)</h3>
        </div>
        <div class="content-box">
            <i class="uil uil-graduation-cap"></i>
            <h2>Students assigned</h2>
            <h3>@Html.DisplayFor(Model => Model.ElementAt(Model.Count() - 1).students_count)</h3>
        </div>
    </div>
    <hr />
    <div class="dash-content">
        @for (int i = 0; i < Model.Count() - 1; i++)
        {
            <a href="/Teacher/Dash?id_group=@Model.ElementAt(i).id_group&state_group=@Model.ElementAt(0).state_groupcourse">
                <p>
                    Group @Html.DisplayFor(Model => Model.ElementAt(i).id_group)
                    <i class="uil uil-info-circle"></i>
                </p>
            </a>
        }
    </div>
</div>

